@import url('https://fonts.googleapis.com/css?family=Goblin+One');
html {
  background: url("https://2.bp.blogspot.com/-xjjCY9nXY6M/V91DUBn9_4I/AAAAAAAC2pY/llVq6EUtXuo-kvHr74NDEFRms4Cwew3vwCLcB/s1600/8986042.gif")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
  image-orientation: center;
}
body{
  image-orientation: center;
  color: white;
  font-family: sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}
h1{
  font-size: 50px;
  color: black;
}
h2{
  color: black;
}
h3{
  font-size: 30px;
  font-family: sans-serif;
}
p {
  color: black;
}
